*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Georgia", "Merriweather", "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.6;
}

.container{
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

p{
    padding:8px 0;
}

ul, li{
    list-style: none;
}

ul ul {
    margin: 4px 0 4px 16px;
}

ol{
    margin-left: 16px;
}

ol ol{
    margin: 4px 0 4px 16px;
}

ol li{
    list-style-type: decimal;
}

h1,h2,h3{
    margin-bottom: 4px;
}

section{
    margin:24px 0;
}

.main-nav{
    display: flex;
    justify-content: end;
}

.main-nav li{
    float: left;
}

.main-nav a{
    display: block;
    padding: 16px;
}


.mb-4{
    margin-bottom: 4px !important;
}

.mb-8{
    margin-bottom: 8px !important;
}

.max-height{
    max-height:700px !important;
}

.network{
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.network img{
    width:32px;
    margin-right: 4px;
}

.language-plaintext{
    background-color: #f3f3f3;
    padding: 2px 4px;
    border-radius: 4px;
}
/*--
    CARD
--*/

.card{
    display: block;
    margin: 8px 0;
    padding: 8px;
    border-left: #1a2740 solid 2px;
}

.card:hover{
    background-color: aliceblue;
}

.card .card_tags{
    display: flex;
    gap:4px;
}

.card .card_tags a,.tag{
    text-decoration: none;
    display: inline-block;
    padding:2px 4px;
    border-radius: 4px;
    font-size: 14px;
    color:#FFF;
    background-color: #2c3e50;
    cursor: pointer;
    font-weight: bold;
    margin:2px
}


/*--
QUIZ
--*/

.quiz{
    display: flex;
    flex-direction: column;
    gap:16px;
    border-left: #1a2740 solid 2px;
    padding: 8px;
    margin: 8px auto;
}

.quiz_answer h4{
    cursor: pointer;
}

.quiz_answer h4:after{
    display: inline-block;
    float: right;
    margin-left: 8px;
    content: "+";
}


.quiz_answer_content{
    transition: max-height 0.4s;
    overflow: hidden;
    max-height: 0;
}


/*--
    time-line
--*/

.time-line{
    display: inline-block;
    border-left: #1a2740 solid 2px;
    position: relative;
    margin: 8px 0;
    padding: 16px 0;
}

.time-line .event{
    padding-left: 16px;
}

.time-line .event::before{
    display: block;
    position: absolute;
    content: "";
    background-color: #1a2740;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    left: -9px;
    margin-top: 4px;
    transition: all 0.3s;
}

.time-line .event:hover::before {
  background-color: #27ae60;  /* rouge */
  transform: scale(1.5);   /* agrandir */
}

.time-line .event:hover{
    background-color: aliceblue;
}

/*--
Footer
--*/

footer{

}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}